# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Devul Nahar\OneDrive - University of Illinois - Urbana\Documents\UIUC\Year 1\Semester 2\2. ECE 220\MPs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
